@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: hsl(264,40%,10%);
  font-family: 'Inter', sans-serif;
}
html::-webkit-scrollbar{
  display: none;
}
.lazy-loading{
  opacity: 1;
  visibility: visible;
  transition: all linear 0.3s
}
.lazy-loading1{
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 0.3s
}
.swiper-button-prev, 
.swiper-button-next {
  text-align: center;
  width: 44px !important;
  height: 44px !important;
  color: #ffff !important;
  background-color: rgba(156, 156, 156, 0.3);
  border-radius: 999px !important;
  padding: 26px !important;
}
.swiper-button-prev::after, 
.swiper-button-next::after {
  font-size: 30px !important;
}
@media (min-width: 368px) and (max-width: 768px){
  .swiper-button-prev, 
  .swiper-button-next{
    width: 32px !important;
    height: 32px !important;
    padding: 16px !important;
  }
  .swiper-button-prev::after, 
  .swiper-button-next::after {
    font-size: 14px !important;
  
  }
}
.swiper-pagination{
}
.swiper-pagination-bullet{
  background-color: #ffff !important;
}
@keyframes load {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
#progress{
  position: relative;
  -webkit-appearance: none;
  height: 3px;
  border-radius: 12px;
  background: #757575;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.control:hover #progress {
  height: 5px;
}
.after-line{
  transform: translateY(-50%);
  display: none;
}
.control:hover .after-line {
  display: block;
}
/* #progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: all linear 0.5s;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 10;
} */
/* #progress:hover ~ #progress::-webkit-slider-thumb{
  background-color: red;
} */
.text-stroke-0{
  color: hsla(0,0%,100%,0.5);
  white-space: nowrap;
  font-size: 14px;
  width: 83px
}
.text-stroke-1{
  color: rgba(74,144,226,0);
  -webkit-text-stroke: 1px #4a90e2;
  opacity: 0.9;
}
.text-stroke-2{
  color: rgba(74,144,226,0);
  -webkit-text-stroke: 1px #50e3c2;
  opacity: 0.9;

}
.text-stroke-3{
  color: transparent;
  -webkit-text-stroke: 1px #e35050;
  opacity: 0.9;

}
.text-stroke-any{
  color: rgba(74,144,226,0);
  -webkit-text-stroke: 1px #fff;
  opacity: 0.85;

}
.overflow-scrollbar::-webkit-scrollbar{
  display: none;
}
.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}
.yellow{
  background-color: yellow;
   
}

.new-song::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
.new-song::-webkit-scrollbar-thumb{
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 50px;
}
.dots{
  align-items:center;
  background-color:#ffffff;
  border-radius:50%;
  box-shadow:#000000 0px 2px 4px 0px;
  color:#ffffff;
  display:flex;
  font-size:14px;
  grid-area:auto;
  justify-content:center;
  text-align:center;
}
.slick-prev, .slick-next{
  z-index: 11;
}

.slick-prev:before, .slick-next:before {
  position: absolute;
  top: -5px !important;
  font-family: 'slick';
  font-size: 44px !important;
  color: hsla(0, 0%, 100%, 0.562) !important;
  z-index: 99 !important; 
}
.slick-next:before{
  right: 8px !important;
}
.slick-prev:before{
  left: 8px !important;
}
.radio-song .slick-prev:before, .slick-next:before {
  top: -30px !important;
}

.slick-slide > div {
  margin-right: 10px !important;
}
.slick-slide:last-child > div{
  margin-right: 0 !important;
}
.slick-list > .slick-slide:last-child{
  /* margin-right: -10px !important; */
}

/* Text */
.zing-chart-text{
  background: radial-gradient(50% 124.93% at 95.86% -10%, #3efad9 0, hsla(0, 0%, 100%, 0) 100%), linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.radio__live-song::-webkit-scrollbar,
.scroll-home::-webkit-scrollbar{
  display: none;
}
@keyframes spinn {
  from{
    rotate: 0;
  }
  to{
    rotate: 360deg;
  }
}
*::-webkit-scrollbar{
  display: none;
}